@media(max-width: 1500px) {
    h3 {
        font-size: 57px;
    }
    .p01 {
        font-size: 22px;
    }
    .p02 {
        font-size: 24px;
    }
    .cobertura-latam h3 {
        padding-top: 100px;
        max-width: 999px;
    }
    .cobertura {
        padding-bottom: 200px;
        background-size: 700px;
    }
    
}
@media(max-width: 1199px) {
    .cont-tecnologia article img {
        width: 370px;
    }
    .tecnologia h1 {
        font-size: 45px;
        letter-spacing: 11px;
    }
    .tecnologia h2 {
        font-size: 36px;
        letter-spacing: 3px;
    }
    .cont-tecnologia aside {
        padding-top: 60px;
    }

    h3 {
        font-size: 48px;
    }
    .cobertura p {
        font-size: 17px;
    }
    .p01 {
        font-size: 17px;
    }
    .p02 {
        font-size: 18px;
    }
    .cobertura-latam h3 {
        padding-top: 100px;
        max-width: 800px;
    }
    .cobertura {
        padding-bottom: 90px;
        background-size: 500px;
    }
    .contenedor-texto-cg {
        max-width: 500px;
    }
    .cobertura-geografica h3 {
        padding-bottom: 40px;
    }
    .cobertura-geografica .p01 {
        padding-bottom: 40px;
    }
    .cobertura-geografica .p02 {
        padding-bottom: 40px;
    }
    .titulo {
        font-size: 47px;
        padding-bottom: 50px;
    }
}
@media(max-width: 991px) {
    .carousel-indicators li {
        width: 15px;
        height: 15px;
    }
    .cont-tecnologia article img {
        width: 300px;
    }
    .tecnologia h1 {
        font-size: 32px;
    }
    .tecnologia h2 {
        font-size: 25px;
        line-height: 50px;
    }
    .cont-tecnologia aside {
        padding-top: 30px;
    }
    .cobertura {
        background-image: url(../images/mapa-opaco.png);
    }
    .titulo {
        padding-bottom: 50px;
        font-size: 36px;
    }
    .servicios .contenedor {
        padding-top: 50px;
    }
    h4 {
        font-size: 22px;
    }
    .metodologia p {
        font-size: 18px;
    }
    .seccion-tecnologia .p03 {
        font-size: 23px;
    }

}
@media(max-width: 767px) { 
    .carousel-indicators {
        display: none;
    }   
    .cont-tecnologia {
        padding-top: 0;
    }
    .cont-tecnologia {
        flex-direction: column-reverse;
    }
    .cont-tecnologia article, .cont-tecnologia aside {
        width: 100%;
        text-align: center;
    }

    h3 {
        font-size: 35px;
    }
    .cobertura {
        padding-top: 40px;
    }
    .cobertura-latam h3 {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .que-hacemos {
        flex-direction: column-reverse;
    }
    .titulo {
        text-align: center;
        font-size: 36px;
        padding-bottom: 20px;
    }
    .que-hacemos aside, .que-hacemos article, .metodologia aside, .metodologia article {
        width: 100%;
    }
    .que-hacemos aside img {
        padding-bottom: 20px;
    }
    .metodologia {
        flex-direction: column;
        padding-bottom: 80px;
    }
    .metodologia article {
        padding-left: 0;
        padding-top: 30px;
    }
    .metodologia p {
        line-height: 30px;
        font-size: 16px;
    }
    .que-hacemos {
        padding-bottom: 60px;
    }
    .metodologia h4 {
        padding-bottom: 10px;
    }
    h4 {
        font-size: 18px;
    }
    .staff p, .staff .p01, .staff .p02, .staff .p03, .staff .p04 {
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 20px;
    }
    .staff .titulo h2 {
        font-size: 44px;
    }
    .titulo-staff {
        flex-direction: column;
    }
    h5 {
        font-size: 27px;
    }
    .staff .titulo-staff p {
        font-size: 22px;
    }
    .staff span {
        padding-bottom: 40px;
    }
    .staff {
        margin: 50px auto;
    }
    .seccion-tecnologia {
        padding: 50px 20px 50px 20px;
    }
    .seccion-tecnologia .p03 {
        font-size: 20px;
    }
}
@media(max-width: 536px) {
    .tecnologia h1 {
        font-size: 24px;
        letter-spacing: 5px;
    }
    .tecnologia h2 {
        font-size: 23px;
        letter-spacing: 2px;
        line-height: 40px;
    }
    .titulo {
        font-size: 23px;
    }
    .que-hacemos .p01 {
        font-size: 14px;
    }
    .seccion-tecnologia .p03 {
        font-size: 14px;
    }
}